@{
    ViewData["Title"] = "Transactions";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="font-weight-bold">Recent Transactions</h1>
        </div>  
        <div class="col-4">
            <a asp-controller="Transaction" asp-action="Add" class="btn btn-outline-primary">Add New Transaction</a>
        </div>
    </div>
    <table class="table-bordered">
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
    </table>
</div>
