@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="font-weight-bold">Added Categories</h1>
        </div>
        <div class="col-4">
            <a asp-controller="Category" asp-action="Add" class="btn btn-outline-primary">Add New Category</a>
        </div>
    </div>
    <table class="table-bordered">
        <tr>
            <td>Name</td>
            <td>Action</td>
        </tr>
    </table>
</div>
